# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Variáveis e Operadores

In [1]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1
var_teste = 2

In [3]:
# Imprimindo o valor da variável
var_teste

2

In [4]:
# Imprimindo o valor da variável
print(var_teste)

2

In [5]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [6]:
var_teste = 1

In [7]:
var_teste

1

In [8]:
type(var_teste)

int

In [9]:
var_teste = 9.5

In [13]:
type(var_teste)
type (var_teste)

float

In [11]:
x = 1

In [12]:
x

1

## Declaração Múltipla

In [14]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"
pessoa1, pessoa2, pessoa3 = "Jose", "Maria", "Tobias"

In [15]:
pessoa1

'Jose'

In [16]:
pessoa2

'Maria'

In [17]:
pessoa3

'Tobias'

In [18]:
fruta1 = fruta2 = fruta3 = "Laranja"
fruta1 = fruta2 = fruta3 = "Morango"

In [19]:
fruta1

'Morango'

In [20]:
fruta2

'Morango'

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [21]:
x1 = 50

In [22]:
x1

50

In [23]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid syntax (<ipython-input-23-038522b53cfc>, line 2)

## Não se pode usar palavras reservadas como nome de variável

## False      
## class      
## finally    
## is         
## return
## None       
## continue   
## for        
## lambda     
## try
## True       
## def        
## from       
## nonlocal   
## while
## and        
## del        
## global     
## not        
## with
## as         
## elif       
## if         
## or         
## yield
## assert     
## else       
## import     
## pass
## break      
## except     
## in         
## raise

In [24]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (<ipython-input-24-dd17f949cdf7>, line 2)

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [25]:
largura = 2
largura = 5

In [26]:
altura = 4
altura = 2

In [30]:
area = largura * altura
area = largura * altura

In [32]:
print (area)

10

In [33]:
perimetro = 2 * largura + 2 * altura
perimetro = 2 * largura + 2 * altura

In [34]:
perimetro

14

In [35]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura
perimetro = 2 * (largura +2) * altura

In [36]:
perimetro

28

## Operações com variáveis

In [37]:
idade1 = 25

In [38]:
idade2 = 35

In [39]:
idade1 + idade2

60

In [40]:
idade2 - idade1

10

In [41]:
idade2 * idade1

875

In [42]:
idade2 / idade1

1.4

In [43]:
idade2 % idade1

10

## Concatenação de Variáveis

In [44]:
nome = "Luis"
nome = "Rafael"

In [45]:
sobrenome = "Suarez"
sobrenome = "Ferreira"

In [ ]:
fullName = nome + " " + sobrenome
nomeCompleto = nome + " " + sobrenom

In [ ]:
fullName

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>